:root {
    --border-radius: 0.2rem;
    --margins: 1rem 1rem 0 1rem;
}

html,
body {
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-y: scroll;
}

#container {
    max-width: 1200px;
    padding-bottom: 1rem;
    margin: auto;
}

h1 {
    margin: 0;
}

h2,
h3,
h4 {
    margin-block-start: 0;
    margin-block-end: 0.4rem;
}

p {
    margin: 0 0 1rem 0;
}

header {
    padding: 1rem;
    background-color: #cce1dc;
    border-radius: var(--border-radius);
}

header a {
    color: black;
    text-decoration: none;
}

header a:hover,
header a:focus {
    text-decoration: underline;
}

.flex {
    display: flex;
}

.flex>div,
.seksjon,
header {
    margin: var(--margins);
}

img {
    width: 100%;
    height: auto;
}

.bilde-liten {
    display: none;
}

@media screen and (max-width: 800px) {
    .flex {
        flex-direction: column;
    }

    .bilde-stor {
        display: none;
    }

    .bilde-liten {
        margin: 0 1rem 0.2rem 0;
        float: left;
        display: unset;
    }
}